# SEMANA 07
Rivera Caso Nataly Nayely

Temas:
    1. Numeros 
    2. Variables
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado
    5. Operadores

3. Manejo de cadenas

In [2]:
cadena="Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#01234...
#                                        -2 -1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
cadena[11]

' '

In [7]:
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
#Tambien puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [10]:
#Para mostrar un subcadena [desde, hasta un antes]
cadena[3:8]

'versi'

In [11]:
#Para saber el tamaño de una cadena usamos len()
#incluye espacios en blanco
len(cadena)

44

In [13]:
#Para mostrar una cadena en mayuscula usaremos lower()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [15]:
#Para mostrar una cadena en minuscula usaremos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [16]:
#Generar una lista a partir de una cadena split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [18]:
#Generar una lista usando un criterio de separacion a partir de una cadena, split()
#En este caso vamos a generar una lista de toda la cadena,
#usamos como criterio de separacion la letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [20]:
#Usaremos el .format()
nombre = "Nataly Rivera"
edad = 21
print("hola {} ya se que tienes {} años".format(nombre, edad))

hola Nataly Rivera ya se que tienes 21 años

In [23]:
#Dar formato a numeros con muchos decimales
resultado=10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))
#r:1.3f-> el r es la variable, 1 es la cantidad de enteros y el 3 la cantidd de decimales

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [25]:
#Dar formato con f
#La funcion f, esta disponible desde la versión 3.6
nombre = "Nataly Rivera"
edad=21
print(f"Good morning {nombre}, ya se que tienes {edad} años")

Good morning Nataly Rivera, ya se que tienes 21 años

In [27]:
#Dar formato a numeros con muchos 
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333