# SEMANA 07
Rivera Caso Nataly Nayely

Temas:
    1. Numeros 
    2. Variables
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado
    5. Operadores

5. Operadores

In [1]:
#5.1 Operadores aritmeticos
#Se tiene: +, -, *, /, **, %, //

In [2]:
numero1=10
numero2=3
suma=numero1+numero2
resta=numero1-numero2
multiplicacion=numero1*numero2
division=numero1/numero2
residuo=numero1%numero2
cociente=numero1//numero2
potencia=numero1**numero2
print("la suma es:", suma)
print("la resta es:", resta)
print("la multiplicacion es:", multiplicacion)
print("la divisio es:", division)
print("la residuo es:", residuo)
print("la cociente es:", cociente)
print("la potencia es:", potencia)

la suma es: 13
la resta es: 7
la multiplicacion es: 30
la divisio es: 3.3333333333333335
la residuo es: 1
la cociente es: 3
la potencia es: 1000

In [3]:
# 5.2 Operadores de asignación
#Se tiene: =, +=, -=, /=, **=
numero = 5 
numero = numero + 3
print(numero)

8

In [4]:
numero=5
numero+=3
print(numero)

8

In [5]:
#Otro ejemplo
numero=5
numero = numero ** 3
print (numero)

125

In [6]:
#LA OPERACION ANTERIOR TAMBIÉN SE PUEDE EXPRESAE DE LA SGTE FORMA:
numero =5
numero **=3
print(numero)

125

In [7]:
#5.3 Operadores de comparacion
# Se tiene: ==, !=, <, >, <=, >=,

In [8]:
#Ejm de igualdad
numero1=5
numero2=2
numero1==numero2

False

In [9]:
#Con las cadenas funciona igual
nombre1= "Nataly"
nombre2= "Nataly"
nombre1==nombre2

True

In [10]:
#5.4 Operadores lógicos
#Se tiene and, or, not
numero1=5
numero2=6
numero3=7
numero4=8

In [11]:
numero1 < numero2

True

In [12]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [13]:
numero1 < numero2 and numero3 < numero4

True

In [14]:
#Tambien puedes usar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [15]:
#5.5 Operadores de pertenencia
#Se tiene: in, not in

In [16]:
#Miremos un ejemplo:
aula=["Nataly", "Nayely", "Jasmin"]
alumno1="Juan"
alumno2="Nataly"

In [17]:
# ¿Juan esta en aula?
alumno1 in aula

False

In [18]:
# ¿Nataly esta en aula?
alumno2 in aula

True

In [19]:
alumno1 not in aula

True

In [20]:
alumno2 not in aula

False

In [21]:
#5.6 Operadores de identidad
#Se tiene: is, is not

In [22]:
aula1=["Nataly", "Nayely", "Jasmin"]
aula2=["Nataly", "Nayely", "Jasmin"]
aula3=aula1

In [23]:
aula3 is aula1

True

In [24]:
aula3 is aula2

False

In [25]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [26]:
aula1.append("Brighit")

In [27]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Nataly', 'Nayely', 'Jasmin', 'Brighit']

In [28]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Nataly', 'Nayely', 'Jasmin', 'Brighit']

In [29]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Nataly', 'Nayely', 'Jasmin']